@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

@keyframes rotate {
  0% {
    transform: translate3d(0, 0, 0) rotate(0); }
  100% {
    transform: translate3d(0, 0, 0) rotate(360deg); } }

.wrap-input-field {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  border-bottom: 1px solid #323232;
  height: calc(2.77778vh + 20px); }

.icon-for-input {
  margin: 0 15px; }

.input-field {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: calc(0.83333vh + 9px);
  letter-spacing: 0.3px;
  color: #323232;
  padding: 0;
  background-color: transparent; }

::-webkit-input-placeholder {
  font-family: 'Quicksand', sans-serif;
  color: rgba(50, 50, 50, 0.5);
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: left;
  font-size: calc(0.83333vh + 9px); }

::-moz-placeholder {
  font-family: 'Quicksand', sans-serif;
  color: rgba(50, 50, 50, 0.5);
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: left;
  font-size: 18px; }

:-ms-input-placeholder {
  font-family: 'Quicksand', sans-serif;
  color: rgba(50, 50, 50, 0.5);
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: left;
  font-size: 18px; }
