@import "../../colors.scss";
@import "../../mixins.scss";

.wrap-input-field {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  border-bottom: 1px solid $main-modal-color;
  height: linear-dynamic-size-relate-vh(40, 50, 720, 1080);
}

.icon-for-input {
  margin: 0 15px;
}

.input-field {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: linear-dynamic-size-relate-vh(15, 18, 720, 1080);
  letter-spacing: 0.3px;
  color: $main-modal-color;
  padding: 0;
  background-color: transparent;
}

::-webkit-input-placeholder {
  font-family: 'Quicksand', sans-serif;
  color: rgba(50, 50, 50, 0.5);
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: left;
  font-size: linear-dynamic-size-relate-vh(15, 18, 720, 1080);
}

::-moz-placeholder {
  font-family: 'Quicksand', sans-serif;
  color: rgba(50, 50, 50, 0.5);
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: left;
  font-size: 18px;
}

:-ms-input-placeholder {
  font-family: 'Quicksand', sans-serif;
  color: rgba(50, 50, 50, 0.5);
  font-weight: 300;
  letter-spacing: 0.3px;
  text-align: left;
  font-size: 18px;
}