.notification-wrapper {
  position: fixed;
  bottom: 75px;
  right: 15px;
  z-index: 1000000000;
  max-width: 500px;
  width: 100%;
  word-break: break-word; }

.notification-wrapper-no-content {
  height: 0; }

@media (max-width: 550px) {
  .notification-wrapper {
    right: 0;
    left: 0;
    width: 90%;
    margin: 0 auto; } }
