@import '../../mixins.scss';

.radio-button-disabled label {
  color: $color-gray !important;
}

.radio-button-disabled label img {
  background: $color-gray !important;
}

.radio-container input[type=radio] {
  display: none;
}

.radio-button-img {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 11px;
  margin-bottom: 0;
  margin-top: 0;
}

.radio-button-label {
  @extend %hover-focus-active-opacity;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  color: $color-toolbar-text-gray;
  cursor: pointer;
}

.radio-button-horizontal {
  float: left;
  margin-right: 20px;
}
 .assign-admin-radio-button{
  width: 50px;
  display: flex;
  align-items: center;
   margin-left: -50px;
}