.radio-button-label {
  transition: opacity 0.3s; }
  .radio-button-label:hover, .radio-button-label:focus {
    opacity: 0.7; }
  .radio-button-label:active {
    opacity: 0.6; }

@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

@keyframes rotate {
  0% {
    transform: translate3d(0, 0, 0) rotate(0); }
  100% {
    transform: translate3d(0, 0, 0) rotate(360deg); } }

.radio-button-disabled label {
  color: #b4b4b4 !important; }

.radio-button-disabled label img {
  background: #b4b4b4 !important; }

.radio-container input[type=radio] {
  display: none; }

.radio-button-img {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 11px;
  margin-bottom: 0;
  margin-top: 0; }

.radio-button-label {
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  color: #3d3d3d;
  cursor: pointer; }

.radio-button-horizontal {
  float: left;
  margin-right: 20px; }

.assign-admin-radio-button {
  width: 50px;
  display: flex;
  align-items: center;
  margin-left: -50px; }
