.history-of-loans-container {
  width: 100%;
  padding-bottom: 20px; }
  .history-of-loans-container .history-of-loans-title-wrapper {
    width: 100%;
    padding: 30px 0;
    line-height: 50px; }
    .history-of-loans-container .history-of-loans-title-wrapper::after {
      content: '';
      clear: both;
      display: block; }
    .history-of-loans-container .history-of-loans-title-wrapper .history-of-loans-title {
      font-family: Quicksand;
      font-size: 29px;
      letter-spacing: 0.4px;
      text-align: left;
      color: #323232;
      float: left; }
