.forgot-password-form-wrapper .forgot-password-buttons-container .submit, .forgot-password-done-form-wrapper .forgot-password-buttons-container .submit, .forgot-password-form-wrapper .forgot-password-buttons-container .submit .cancel, .forgot-password-done-form-wrapper .forgot-password-buttons-container .submit .cancel {
  padding: 0 10px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s; }

.forgot-password-form-wrapper .forgot-password-buttons-container .submit, .forgot-password-done-form-wrapper .forgot-password-buttons-container .submit, .forgot-password-form-wrapper .forgot-password-buttons-container .submit .cancel, .forgot-password-done-form-wrapper .forgot-password-buttons-container .submit .cancel {
  background-color: #005777;
  color: #ffffff;
  margin-left: 20px;
  font-size: 18px; }
  .forgot-password-form-wrapper .forgot-password-buttons-container .submit:hover, .forgot-password-done-form-wrapper .forgot-password-buttons-container .submit:hover, .forgot-password-form-wrapper .forgot-password-buttons-container .submit .cancel:hover, .forgot-password-done-form-wrapper .forgot-password-buttons-container .submit .cancel:hover, .forgot-password-form-wrapper .forgot-password-buttons-container .submit:focus, .forgot-password-done-form-wrapper .forgot-password-buttons-container .submit:focus, .forgot-password-form-wrapper .forgot-password-buttons-container .submit .cancel:focus, .forgot-password-done-form-wrapper .forgot-password-buttons-container .submit .cancel:focus {
    background-color: #006b91; }
  .forgot-password-form-wrapper .forgot-password-buttons-container .submit:active, .forgot-password-done-form-wrapper .forgot-password-buttons-container .submit:active, .forgot-password-form-wrapper .forgot-password-buttons-container .submit .cancel:active, .forgot-password-done-form-wrapper .forgot-password-buttons-container .submit .cancel:active {
    background-color: #007dab; }

.forgot-password-form-wrapper, .forgot-password-done-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 400px;
  width: 100%; }

.forgot-password-form-wrapper .forgot-password-title, .forgot-password-form-wrapper .forgot-password-done-title, .forgot-password-done-form-wrapper .forgot-password-title, .forgot-password-done-form-wrapper .forgot-password-done-title {
  font-size: 29px;
  letter-spacing: 0.4px;
  color: #323232;
  width: auto;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px; }

.forgot-password-form-wrapper .forgot-password-buttons-container, .forgot-password-done-form-wrapper .forgot-password-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 400px;
  width: auto;
  padding-top: 30px; }

.forgot-password-form-wrapper .form-group .error-message-container .error-message, .forgot-password-done-form-wrapper .form-group .error-message-container .error-message {
  position: relative;
  color: #d5a2a2;
  font-weight: 500;
  font-family: Quicksand;
  font-size: 12px;
  margin-bottom: -2px; }

@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

@keyframes rotate {
  0% {
    transform: translate3d(0, 0, 0) rotate(0); }
  100% {
    transform: translate3d(0, 0, 0) rotate(360deg); } }

.forgot-password-form-wrapper .forgot-password-done-image, .forgot-password-done-form-wrapper .forgot-password-done-image {
  margin-bottom: 25px;
  display: flex;
  justify-content: center; }
  .forgot-password-form-wrapper .forgot-password-done-image img, .forgot-password-done-form-wrapper .forgot-password-done-image img {
    width: 67px;
    height: 34px; }

.forgot-password-form-wrapper .okay, .forgot-password-done-form-wrapper .okay {
  margin-top: 25px;
  border-radius: 10px;
  font-size: 18px;
  color: #ffffff;
  background-color: #005777; }
  .forgot-password-form-wrapper .okay .fl-buttonTextCenter, .forgot-password-done-form-wrapper .okay .fl-buttonTextCenter {
    letter-spacing: 0.3px; }

.forgot-password-form-wrapper .okay:hover, .forgot-password-done-form-wrapper .okay:hover {
  background-color: #006b91; }

.forgot-password-form-wrapper .okay:active, .forgot-password-done-form-wrapper .okay:active {
  background-color: #007dab; }

.forgot-password-form-wrapper .form-group .error-message-container, .forgot-password-done-form-wrapper .form-group .error-message-container {
  display: flex;
  justify-content: flex-end; }

.forgot-password-form-wrapper .forgot-password-description, .forgot-password-form-wrapper .forgot-password-done-description, .forgot-password-done-form-wrapper .forgot-password-description, .forgot-password-done-form-wrapper .forgot-password-done-description {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Quicksand;
  font-size: 18px;
  color: #323232;
  letter-spacing: 0.3px;
  font-weight: 400; }

.forgot-password-form-wrapper .invalid .submit, .forgot-password-form-wrapper .invalid .submit:hover, .forgot-password-form-wrapper .invalid .submit:active, .forgot-password-done-form-wrapper .invalid .submit, .forgot-password-done-form-wrapper .invalid .submit:hover, .forgot-password-done-form-wrapper .invalid .submit:active {
  background-color: #7fabbb; }
