@import '../../../mixins.scss';

.forgot-password-form-wrapper, .forgot-password-done-form-wrapper {
  @extend %form-wrapper;

  .forgot-password-done-image {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    img {
      width: 67px;
      height: 34px;
    }
  }

  .okay {
    margin-top: 25px;
    border-radius: 10px;
    font-size: 18px;
    color: $color-white;
    background-color: $color-button-submit;

    .fl-buttonTextCenter {
      letter-spacing: 0.3px;
    }
  }

  .okay:hover {
    background-color: $color-button-hover;
  }

  .okay:active {
    background-color: $color-button-click;
  }

  .form-group {
    .error-message-container {
      display: flex;
      justify-content: flex-end;

      .error-message {
        @extend %error-message;
      }
    }
  }

  .forgot-password-title, .forgot-password-done-title {
    @extend %form-title;
  }

  .forgot-password-description, .forgot-password-done-description {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Quicksand;
    font-size: 18px;
    color: $main-modal-color;
    letter-spacing: 0.3px;
    font-weight: 400;
  }

  .forgot-password-buttons-container {
    @extend %buttons-container;

    .submit {
      @extend %button-primary;

      .cancel {
        @extend %button-primary;
      }
    }
  }

  .invalid {
    .submit, .submit:hover, .submit:active {
      background-color: $color-button-blocked;
    }
  }
}