.buttons-block-container {
  display: flex;
  align-items: center; }
  .buttons-block-container .submit {
    border-radius: 10px;
    background-color: #005777;
    margin-right: 20px; }
    .buttons-block-container .submit:hover {
      background-color: #006b91; }
    .buttons-block-container .submit:active {
      background-color: #007dab; }
    .buttons-block-container .submit .fl-buttonTextCenter {
      font-family: Quicksand !important;
      font-size: 18px !important;
      letter-spacing: 0.3px; }
