@import "../../../../colors.scss";

.buttons-block-container{
  display: flex;
  align-items: center;

  .submit {
    border-radius: 10px;
    background-color: $color-button-submit;
    margin-right: 20px;
    &:hover {
      background-color: $color-button-hover;
    }
    &:active {
      background-color: $color-button-click;
    }
    .fl-buttonTextCenter{
      font-family: Quicksand !important;
      font-size: 18px !important;
      letter-spacing: 0.3px;
    }
  }
}
