@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

@keyframes rotate {
  0% {
    transform: translate3d(0, 0, 0) rotate(0); }
  100% {
    transform: translate3d(0, 0, 0) rotate(360deg); } }

.loginization-wrapper-container {
  height: 100%; }
  .loginization-wrapper-container .loginization-container {
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center; }
    .loginization-wrapper-container .loginization-container .form-loginization-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 90vh;
      width: 100%; }

.loginization-footer {
  display: flex;
  justify-content: center;
  opacity: 0.8;
  font-family: Quicksand;
  font-size: 12px;
  letter-spacing: 0.1px;
  color: rgba(50, 50, 50, 0.5);
  margin-bottom: calc(2.77778vh + -10px); }
