@import "../../mixins.scss";

.loginization-wrapper-container {
  height: 100%;

  .loginization-container {
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;

    .form-loginization-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 90vh;
      width: 100%;

    }

  }
}

.loginization-footer {
  display: flex;
  justify-content: center;
  opacity: 0.8;
  font-family: Quicksand;
  font-size: 12px;
  letter-spacing: 0.1px;
  color: rgba(50, 50, 50, 0.5);
  margin-bottom: linear-dynamic-size-relate-vh(10, 20, 720, 1080);
}