@import "../colors.scss";

.active-loans-container {
  width: 100%;
  padding-bottom: 20px;
  .active-loans-title-wrapper {
    width: 100%;
    padding: 30px 0;
    line-height: 50px;

    &::after {
      content: '';
      clear: both;
      display: block;
    }

    .active-loans-title {
      font-family: Quicksand;
      font-size: 29px;
      letter-spacing: 0.4px;
      text-align: left;
      color: $main-modal-color;
      float: left;
    }
  }
}