.landing-page-container {
  background-image: url('../images/personal-loan.jpg');
  background-size: 100%;
  height: 100%;
  width: 100vw;

  .landing-page-section {
    display: flex;
    justify-content: space-around;
    margin-top: 85px;
    .description {
      display: flex;
      flex-direction: column;
      width: 450px;
      font-family: Quicksand;
      font-size: 15px;
      letter-spacing: 0.1px;

      .title {
        font-size: 55px;
        font-weight: 700;
        margin: 0;
      }
      .sub-title {
        font-size: 35px;
        font-weight: 500;
        margin: 0;
      }
      .section {
        font-size: 35px;
        font-weight: 400;
        margin: 0;
      }
    }
  }
}