.sidebar-item {
  height: 60px;
  display: flex;
  font-size: 18px; }
  .sidebar-item a {
    color: #ffffff;
    opacity: .5;
    text-decoration: none; }
  .sidebar-item a:hover {
    color: #ffffff;
    text-decoration: none;
    opacity: 1; }
    .sidebar-item a:hover .imgContainer {
      opacity: 1; }
  .sidebar-item a:focus {
    outline: none; }

.sidebar-item:hover, .sidebar-item.selected {
  height: 60px;
  opacity: 2;
  background-color: #002d3d;
  cursor: pointer; }
  .sidebar-item:hover a, .sidebar-item.selected a {
    text-decoration: none;
    opacity: 1; }
    .sidebar-item:hover a .imgContainer, .sidebar-item.selected a .imgContainer {
      opacity: 2; }

.sidebar-item-anchor {
  display: flex;
  align-items: center;
  padding-left: 30px;
  width: 100%;
  height: 100%; }
