@import "../../../colors.scss";
.sidebar-item {
  height: 60px;
  display: flex;
  font-size: 18px;

  a {
    color: $color-white;
    opacity: .5;
    text-decoration: none;
  }

  a:hover {
    color: $color-white;
    text-decoration: none;
    opacity: 1;
    .imgContainer{
      opacity: 1;
    }
  }
  a:focus{
   outline: none;
  }
}

.sidebar-item:hover,.sidebar-item.selected {
  height: 60px;
  opacity: 2;
  background-color: $color-sidebar-hover;
  cursor: pointer;
  a{
    text-decoration: none;
    opacity: 1;
    .imgContainer{
      opacity: 2;
    }
  }
}

.sidebar-item-anchor {
  display: flex;
  align-items: center;
  padding-left: 30px;
  width: 100%;
  height: 100%;
}

