.header-container {
  background-color: #ffffff;
  border: solid 3px #ffffff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0; }
  .header-container .header-logo {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 250px;
    cursor: pointer; }
    .header-container .header-logo .site-logo {
      width: 100px;
      height: 75px; }
