@import "../../../colors.scss";

.header-container {
  background-color: $color-white;
  border: solid 3px $color-white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;

  .header-logo {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 250px;
    cursor: pointer;

    .site-logo{
      width: 100px;
      height: 75px;
    }
  }

}