@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

@keyframes rotate {
  0% {
    transform: translate3d(0, 0, 0) rotate(0); }
  100% {
    transform: translate3d(0, 0, 0) rotate(360deg); } }

.loan-calculator-container {
  width: 350px;
  background-color: gainsboro;
  border-radius: 10px;
  padding: 15px; }
  .loan-calculator-container .loan-calculator-header {
    display: flex;
    align-items: center;
    justify-content: center; }
    .loan-calculator-container .loan-calculator-header .loan-calculator-title {
      font-family: Quicksand;
      font-size: 25px;
      letter-spacing: 0.1px;
      font-weight: 500;
      margin: 0; }
    .loan-calculator-container .loan-calculator-header .edit-btn {
      border-radius: 10px;
      background-color: #005777;
      margin-right: 20px;
      padding: 10px;
      width: 100px !important; }
      .loan-calculator-container .loan-calculator-header .edit-btn:hover {
        background-color: #006b91; }
      .loan-calculator-container .loan-calculator-header .edit-btn:active {
        background-color: #007dab; }
      .loan-calculator-container .loan-calculator-header .edit-btn .fl-buttonTextCenter {
        font-family: Quicksand !important;
        font-size: 18px !important;
        letter-spacing: 0.3px; }
  .loan-calculator-container .loan-section {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 5px 20px; }
    .loan-calculator-container .loan-section .loan-title {
      font-size: 20px;
      font-weight: 400; }
    .loan-calculator-container .loan-section .picker-input {
      border: 1px solid #005777 !important;
      border-radius: 5px !important;
      transition: border-color 0.3s;
      font-size: 18px !important;
      width: 75px;
      height: 30px;
      vertical-align: middle;
      text-align: center;
      color: #323232; }
      .loan-calculator-container .loan-section .picker-input:last-child {
        margin-right: 0; }
      .loan-calculator-container .loan-section .picker-input:hover, .loan-calculator-container .loan-section .picker-input:focus {
        border-color: rgba(0, 87, 119, 0.7) !important; }
      .loan-calculator-container .loan-section .picker-input:active {
        border-color: rgba(0, 87, 119, 0.6) !important; }
  .loan-calculator-container .summary-container {
    margin-top: 30px; }
    .loan-calculator-container .summary-container .item-container {
      display: flex;
      justify-content: space-between;
      font-family: Quicksand;
      font-size: 20px;
      letter-spacing: 0.1px;
      font-weight: 500;
      padding: 5px; }
  .loan-calculator-container .button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px; }
    .loan-calculator-container .button-container .submit {
      border-radius: 10px;
      background-color: #005777;
      margin-right: 20px;
      padding: 10px; }
      .loan-calculator-container .button-container .submit:hover {
        background-color: #006b91; }
      .loan-calculator-container .button-container .submit:active {
        background-color: #007dab; }
      .loan-calculator-container .button-container .submit .fl-buttonTextCenter {
        font-family: Quicksand !important;
        font-size: 18px !important;
        letter-spacing: 0.3px; }
    .loan-calculator-container .button-container .edit-btn {
      border-radius: 10px;
      background-color: #005777;
      margin-right: 20px;
      padding: 10px;
      width: 100px !important; }
      .loan-calculator-container .button-container .edit-btn:hover {
        background-color: #006b91; }
      .loan-calculator-container .button-container .edit-btn:active {
        background-color: #007dab; }
      .loan-calculator-container .button-container .edit-btn .fl-buttonTextCenter {
        font-family: Quicksand !important;
        font-size: 18px !important;
        letter-spacing: 0.3px; }
  .loan-calculator-container .rangeslider__labels {
    margin: 3px; }
