@import '../../mixins.scss';

.loan-calculator-container {
  width: 350px;
  background-color: gainsboro;
  border-radius: 10px;
  padding: 15px;

.loan-calculator-header {
  display: flex;
  align-items: center;
  justify-content: center;

  .loan-calculator-title {
    font-family: Quicksand;
    font-size: 25px;
    letter-spacing: 0.1px;
    font-weight: 500;
    margin: 0;
  }

  .edit-btn {
    border-radius: 10px;
    background-color: $color-button-submit;
    margin-right: 20px;
    padding: 10px;
    width: 100px !important;
    &:hover {
      background-color: $color-button-hover;
    }
    &:active {
      background-color: $color-button-click;
    }
    .fl-buttonTextCenter{
      font-family: Quicksand !important;
      font-size: 18px !important;
      letter-spacing: 0.3px;
    }
  }
}

  .loan-section {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 5px 20px;

    .loan-title {
      font-size: 20px;
      font-weight: 400;
    }
    .picker-input {
      border: 1px solid $color-input-border !important;
      border-radius: 5px !important;
      transition: border-color $animation-time;
      font-size: 18px !important;
      width: 75px;
      height: 30px;
      vertical-align: middle;
      text-align: center;
      color: $color-input;
      &:last-child {
        margin-right: 0;
      }
      &:hover,
      &:focus {
        border-color: rgba($color-input-border, $hover-opacity) !important;
      }
      &:active {
        border-color: rgba($color-input-border, $active-opacity) !important;
      }
    }
  }
.summary-container {
  margin-top: 30px;

  .item-container {
    display: flex;
    justify-content: space-between;
    font-family: Quicksand;
    font-size: 20px;
    letter-spacing: 0.1px;
    font-weight: 500;
    padding: 5px;
  }
}

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    .submit {
      border-radius: 10px;
      background-color: $color-button-submit;
      margin-right: 20px;
      padding: 10px;
      &:hover {
        background-color: $color-button-hover;
      }
      &:active {
        background-color: $color-button-click;
      }
      .fl-buttonTextCenter{
        font-family: Quicksand !important;
        font-size: 18px !important;
        letter-spacing: 0.3px;
      }
    }
  .edit-btn {
      border-radius: 10px;
      background-color: $color-button-submit;
      margin-right: 20px;
      padding: 10px;
      width: 100px !important;
      &:hover {
        background-color: $color-button-hover;
      }
      &:active {
        background-color: $color-button-click;
      }
      .fl-buttonTextCenter{
        font-family: Quicksand !important;
        font-size: 18px !important;
        letter-spacing: 0.3px;
      }
    }
  }
  .rangeslider__labels {
    margin: 3px;
  }

}