@import "../colors.scss";

.flex-content-wrapper {
  display: flex;

  .content-wrapper {
    padding-top: 70px;
    padding-left: 250px;
    height: inherit;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    display: flex;

    .template-wrapper {
      width: calc(100% - 40px);
      margin: 20px;
      background-color: $color-white;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.03);
    }
  }
}


