@import '../../../mixins.scss';

.sign-in-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 400px;
  width: 100%;

  .sign-in-title {
    font-family: Quicksand;
    font-size: 29px;
    letter-spacing: 0.4px;
    text-align: left;
    color: $main-modal-color;
    width: auto;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 15px;
  }

  .submit {
    border-radius: 10px;
    color: $color-white;
    background-color: $color-button-submit;
    &:hover {
      background-color: $color-button-hover;
    }
    &:active {
      background-color: $color-button-click;
    }
    .fl-buttonTextCenter{
      font-family: Quicksand !important;
      font-size: 18px !important;
      letter-spacing: 0.3px;
    }
  }

  .sign-in-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    margin-top: -20px;
    a {
      color: $color-button-submit;
    }
    .forgot-password-link a {
      width: 120px;
      height: 14px;
      font-family: Quicksand;
      font-size: 14px;
      letter-spacing: 0.2px;
    }
    .signUp-link a {
      width: 190px;
      height: 14px;
      font-family: Quicksand;
      font-size: 14px;
      letter-spacing: 0.2px;

    }
  }
  .form-group {
    position: relative;
    height: 55px;
    .error-message-container {
      @extend %error-message-container;
      .error-message {
        @extend %error-message;
      }
    }
  }
}

.invalid {
  .submit, .submit:hover, .submit:active {
    background-color: $color-button-blocked;
  }
}