.sign-in-form-wrapper .form-group .error-message-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0; }

.sign-in-form-wrapper .form-group .error-message-container .error-message {
  position: relative;
  color: #d5a2a2;
  font-weight: 500;
  font-family: Quicksand;
  font-size: 12px;
  margin-bottom: -2px; }

@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

@keyframes rotate {
  0% {
    transform: translate3d(0, 0, 0) rotate(0); }
  100% {
    transform: translate3d(0, 0, 0) rotate(360deg); } }

.sign-in-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 400px;
  width: 100%; }
  .sign-in-form-wrapper .sign-in-title {
    font-family: Quicksand;
    font-size: 29px;
    letter-spacing: 0.4px;
    text-align: left;
    color: #323232;
    width: auto;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 15px; }
  .sign-in-form-wrapper .submit {
    border-radius: 10px;
    color: #ffffff;
    background-color: #005777; }
    .sign-in-form-wrapper .submit:hover {
      background-color: #006b91; }
    .sign-in-form-wrapper .submit:active {
      background-color: #007dab; }
    .sign-in-form-wrapper .submit .fl-buttonTextCenter {
      font-family: Quicksand !important;
      font-size: 18px !important;
      letter-spacing: 0.3px; }
  .sign-in-form-wrapper .sign-in-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    margin-top: -20px; }
    .sign-in-form-wrapper .sign-in-links a {
      color: #005777; }
    .sign-in-form-wrapper .sign-in-links .forgot-password-link a {
      width: 120px;
      height: 14px;
      font-family: Quicksand;
      font-size: 14px;
      letter-spacing: 0.2px; }
    .sign-in-form-wrapper .sign-in-links .signUp-link a {
      width: 190px;
      height: 14px;
      font-family: Quicksand;
      font-size: 14px;
      letter-spacing: 0.2px; }
  .sign-in-form-wrapper .form-group {
    position: relative;
    height: 55px; }

.invalid .submit, .invalid .submit:hover, .invalid .submit:active {
  background-color: #7fabbb; }
