.profile-container {
  width: 100%;
  padding-bottom: 20px; }
  .profile-container .profile-title-wrapper {
    width: 100%;
    padding: 30px 0;
    line-height: 50px; }
    .profile-container .profile-title-wrapper::after {
      content: '';
      clear: both;
      display: block; }
    .profile-container .profile-title-wrapper .profile-title {
      font-family: Quicksand;
      font-size: 29px;
      letter-spacing: 0.4px;
      text-align: left;
      color: #323232;
      float: left; }
    .profile-container .profile-title-wrapper .profile-edit-btn {
      float: right;
      border-radius: 10px;
      background-color: #005777;
      letter-spacing: 0.3px;
      font-family: Quicksand; }
  .profile-container .profile-detail {
    width: calc(100vw - 360px);
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    padding: 20px; }
    .profile-container .profile-detail .profile-user-image-block {
      margin-right: 20px; }
      .profile-container .profile-detail .profile-user-image-block .profile-image {
        width: 190px;
        border-radius: 10px;
        margin-bottom: 20px; }
      .profile-container .profile-detail .profile-user-image-block .profile-cancel-password {
        border-radius: 10px;
        background-color: #ffffff;
        border: solid 1px #005777;
        letter-spacing: 0.3px; }
    .profile-container .profile-detail .profile-user-description {
      flex-grow: 1; }
      .profile-container .profile-detail .profile-user-description .profile-user-name {
        font-family: Quicksand;
        font-size: 29px;
        letter-spacing: 0.4px;
        text-align: left;
        color: #323232;
        margin-bottom: 10px; }
      .profile-container .profile-detail .profile-user-description .detailed-item {
        display: flex;
        margin-bottom: 10px; }
        .profile-container .profile-detail .profile-user-description .detailed-item .detailed-title {
          margin-right: 25px;
          width: 170px;
          display: flex;
          align-items: center; }
          .profile-container .profile-detail .profile-user-description .detailed-item .detailed-title .detailed-wrapper-icon {
            width: 20px;
            margin-right: 20px; }
            .profile-container .profile-detail .profile-user-description .detailed-item .detailed-title .detailed-wrapper-icon .detailed-icon {
              display: block;
              margin: 0 auto; }
          .profile-container .profile-detail .profile-user-description .detailed-item .detailed-title .detailed-title-name {
            font-family: Quicksand;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 0.3px;
            text-align: left;
            color: #323232; }
        .profile-container .profile-detail .profile-user-description .detailed-item .detailed-value {
          font-family: Quicksand;
          font-size: 18px;
          letter-spacing: 0.3px;
          text-align: center;
          color: #005777; }
