@import "../colors.scss";

.profile-container {
  width: 100%;
  padding-bottom: 20px;
  .profile-title-wrapper {
    width: 100%;
    padding: 30px 0;
    line-height: 50px;

    &::after {
      content: '';
      clear: both;
      display: block;
    }

    .profile-title {
      font-family: Quicksand;
      font-size: 29px;
      letter-spacing: 0.4px;
      text-align: left;
      color: $main-modal-color;
      float: left;
    }

    .profile-edit-btn {
      float: right;
      border-radius: 10px;
      background-color: $color-button-submit;
      letter-spacing: 0.3px;
      font-family: Quicksand;
    }
  }

  .profile-detail {
    width: calc(100vw - 360px);
    border-radius: 10px;
    background-color: $color-white;
    display: flex;
    padding: 20px;

    .profile-user-image-block {
      margin-right: 20px;

      .profile-image {
        width: 190px;
        border-radius: 10px;
        margin-bottom: 20px;
      }

      .profile-cancel-password {
        border-radius: 10px;
        background-color: #ffffff;
        border: solid 1px #005777;
        letter-spacing: 0.3px;
      }

    }

    .profile-user-description {
      flex-grow: 1;

      .profile-user-name {
        font-family: Quicksand;
        font-size: 29px;
        letter-spacing: 0.4px;
        text-align: left;
        color: $main-modal-color;
        margin-bottom: 10px;
      }

      .detailed-item {
        display: flex;
        margin-bottom: 10px;

        .detailed-title {
          margin-right: 25px;
          width: 170px;
          display: flex;
          align-items: center;

          .detailed-wrapper-icon {
            width: 20px;
            margin-right: 20px;

            .detailed-icon {
              display: block;
              margin: 0 auto;
            }
          }

          .detailed-title-name {
            font-family: Quicksand;
            font-size: 18px;
            font-weight: bold;
            letter-spacing: 0.3px;
            text-align: left;
            color: #323232;
          }
        }

        .detailed-value {
          font-family: Quicksand;
          font-size: 18px;
          letter-spacing: 0.3px;
          text-align: center;
          color: $color-button-submit;
        }
      }
    }
  }
}