@import "../../colors.scss";

.main-template-container {
  display: flex;

  .wrapper-container {
    width: 100%;
    margin: 0 auto;
  }
  .template-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    background: $color-white;
    overflow: auto;
    margin-left: 290px;
    padding-top: 70px;
    .template-header-container {
      position: fixed;
      top: 0;
      box-shadow: 0 0 3px 0 rgba($header-shadow, 0.3);
      z-index: 9;
      width: calc(100% - 290px);
      min-height: 70px;
      background-color: $color-white;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .template-header-search {
        width: 290px;
        min-width: 160px;
        display: flex;
      }
      .template-header-icon {
        margin-right: 29px;
        cursor: pointer;
      }
    }

    .template-container {
      padding: 0 30px 18px;
      background: $template-container-background;
    }
  }

  .template-sideBar-container {
    min-height: 100vh;
    background-color: $color-sidebar-background ;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    height: 100%;
    width: 300px;

    .template-profile-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;
      padding-bottom: 25px;

      .template-logo {
        height: 85px;
        display: flex;
        align-items: center;
        img {
          height: 50px;
        }
      }

      .template-profile-image-container {
        margin-top: 20px;
        margin-bottom: 15px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        width: 100px;
        height: 100px;
        overflow: hidden;

        .template-profile-image {
          height: 100px;
          background-color: $color-white;
        }

        .ie-style-image {
          width: 100%;
        }
      }

      .ie-style {
        width: 130px;
      }

      .template-profile-title {
        font-family: Quicksand;
        font-size: 18px;
        letter-spacing: 0.3px;
        color: $color-white;
        margin-bottom: 25px;
      }
    }

    .submit {
      border-radius: 10px;
      color: $color-white;
      letter-spacing: 0.3px;
      background: rgba(0, 0, 0, 0);
      border: solid 1px $color-white;
      opacity: 0.5;
    }
    .submit-active {
      border-radius: 10px;
      color: $color-white;
      letter-spacing: 0.3px;
      background: rgba(0, 0, 0, 0);
      border: solid 1px $color-white;
      opacity: 2;
    }

    .submit:hover {
      opacity: 2;
    }

    .submit:active {
      background-color: $color-button-click;
    }

    .submit-active:active {
      background-color: $color-button-click;
    }
  }
}