.main-template-container {
  display: flex; }
  .main-template-container .wrapper-container {
    width: 100%;
    margin: 0 auto; }
  .main-template-container .template-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    background: #ffffff;
    overflow: auto;
    margin-left: 290px;
    padding-top: 70px; }
    .main-template-container .template-header .template-header-container {
      position: fixed;
      top: 0;
      box-shadow: 0 0 3px 0 rgba(0, 71, 97, 0.3);
      z-index: 9;
      width: calc(100% - 290px);
      min-height: 70px;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      .main-template-container .template-header .template-header-container .template-header-search {
        width: 290px;
        min-width: 160px;
        display: flex; }
      .main-template-container .template-header .template-header-container .template-header-icon {
        margin-right: 29px;
        cursor: pointer; }
    .main-template-container .template-header .template-container {
      padding: 0 30px 18px;
      background: #f4f3f3; }
  .main-template-container .template-sideBar-container {
    min-height: 100vh;
    background-color: #003244;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    height: 100%;
    width: 300px; }
    .main-template-container .template-sideBar-container .template-profile-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;
      padding-bottom: 25px; }
      .main-template-container .template-sideBar-container .template-profile-block .template-logo {
        height: 85px;
        display: flex;
        align-items: center; }
        .main-template-container .template-sideBar-container .template-profile-block .template-logo img {
          height: 50px; }
      .main-template-container .template-sideBar-container .template-profile-block .template-profile-image-container {
        margin-top: 20px;
        margin-bottom: 15px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        width: 100px;
        height: 100px;
        overflow: hidden; }
        .main-template-container .template-sideBar-container .template-profile-block .template-profile-image-container .template-profile-image {
          height: 100px;
          background-color: #ffffff; }
        .main-template-container .template-sideBar-container .template-profile-block .template-profile-image-container .ie-style-image {
          width: 100%; }
      .main-template-container .template-sideBar-container .template-profile-block .ie-style {
        width: 130px; }
      .main-template-container .template-sideBar-container .template-profile-block .template-profile-title {
        font-family: Quicksand;
        font-size: 18px;
        letter-spacing: 0.3px;
        color: #ffffff;
        margin-bottom: 25px; }
    .main-template-container .template-sideBar-container .submit {
      border-radius: 10px;
      color: #ffffff;
      letter-spacing: 0.3px;
      background: transparent;
      border: solid 1px #ffffff;
      opacity: 0.5; }
    .main-template-container .template-sideBar-container .submit-active {
      border-radius: 10px;
      color: #ffffff;
      letter-spacing: 0.3px;
      background: transparent;
      border: solid 1px #ffffff;
      opacity: 2; }
    .main-template-container .template-sideBar-container .submit:hover {
      opacity: 2; }
    .main-template-container .template-sideBar-container .submit:active {
      background-color: #007dab; }
    .main-template-container .template-sideBar-container .submit-active:active {
      background-color: #007dab; }
