.notification-message-container {
  position: relative;
  width: 100%;
  margin: 0 0 0 auto;
  border-radius: 5px; }
  .notification-message-container .message-text {
    font-weight: 300;
    color: #fff;
    padding: 10px 17px;
    width: inherit;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: left; }
  .notification-message-container .notification-close-container {
    width: 50px;
    padding: 0 15px; }
    .notification-message-container .notification-close-container img {
      cursor: pointer; }
  .notification-message-container .notification-icon {
    width: 50px;
    background-color: #fff;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 0 8px; }

.notification-show {
  visibility: visible;
  max-height: 1000px;
  transition: visibility 0.3s, max-height 0.6s, opacity 0.2s ease-out;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
  display: table;
  min-height: 50px; }
  .notification-show > div {
    display: table-cell;
    vertical-align: middle; }

.notification-success {
  background-color: #A2D5C6; }

.notification-error {
  background-color: #D5A2A2; }

.notification-warning {
  background-color: #D6D2A3; }

.notification-hide {
  max-height: 0;
  overflow: hidden;
  margin-bottom: 0;
  padding: 0;
  color: #000;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, max-height 0.3s, opacity 0.3s, padding 0.3s ease-in;
  display: table;
  min-height: 50px; }
  .notification-hide > div {
    display: table-cell;
    vertical-align: middle; }
