@import "../../../mixins.scss";

.sign-up-form-wrapper, .sign-up-done-form-wrapper, .add-personal-form-wrapper {
  @extend %form-wrapper;

  .add-personal-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 400px;
    width: auto;
    padding-top: 20px;

    .next {
      @extend %button-primary;

      .fl-buttonTextCenter {
        letter-spacing: 0.3px;
      }
    }
  }

  .invalid {
    .next, .next:hover, .next:active {
      background-color: $color-button-blocked;
    }
  }

  .sign-up-done-title, .add-personal-title {
    font-family: Quicksand;
    font-size: 29px;
    letter-spacing: 0.4px;
    text-align: left;
    color: $main-modal-color;
    width: auto;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .sign-up-done-description, .add-personal-description {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Quicksand;
    font-size: 18px;
    color: $main-modal-color;
    letter-spacing: 0.3px;
    font-weight: 500;
  }
  .form-group {
    position: relative;
    height: 55px;
    .error-message-container {
      @extend %error-message-container;
      .error-message {
        @extend %error-message;
      }
    }
  }

  .submit {
    @extend %button-primary;
    margin-left: 0;
  }

  .sign-up-title {
    font-family: Quicksand;
    letter-spacing: 0.4px;
    text-align: left;
    color: $main-modal-color;
    width: auto;
    display: flex;
    justify-content: center;
    font-size: linear-dynamic-size-relate-vh(21, 28, 720, 1080);
    padding-top: linear-dynamic-size-relate-vh(15, 30, 720, 1080);
    padding-bottom: linear-dynamic-size-relate-vh(15, 30, 720, 1080);
  }

  .sign-up-check-box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: linear-dynamic-size-relate-vh(10, 25, 720, 1080);

    .accept-check-box {
      .radio-button-img {
        width: 16px;
        height: 16px;
      }

      .radio-button-label {
        font-family: Quicksand;
        font-size: 14px;
        color: $main-modal-color;
      }
    }
  }

  .sign-up-link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: linear-dynamic-size-relate-vh(10, 25, 720, 1080);
    font-family: Quicksand;
    font-size: 14px;
    color: $main-modal-color;
    a {
      padding-left: 10px;
      color: $color-button-submit;
    }
  }
}

.sign-up-add-personal-drop-down .Select-control {
  background: transparent; 
}

.sign-up-add-personal-wrapper-spinner {
  position: absolute;
}

.sign-up-add-personal-spinner-send-code-safari {
  margin: -40px 0 0 180px !important;
}

.sign-up-add-personal-spinner-send-code-msi {
  margin: -44px 0 0 190px !important;
}

.sign-up-add-personal-spinner-check-code-msi {
  margin: 10px 0 0 -115px !important;
}

.sign-up-add-personal-spinner-default-send-code {
  margin: -40px 0 0 190px;
}

.sign-up-add-personal-spinner-default {
  margin: 10px 0 0 295px;
}

.sign-up-add-personal-spinner {
  @extend %generic-spinner;
}

.react-phone-number-input__row {
  height: 50px;

  .rrui__input-field, .rrui__select__button {
    border-bottom: 1px solid #323232;
  }

  .rrui__input:not(.rrui__input--multiline), .rrui__input-label {
    height: 40px;
    background: inherit;
  }

  .react-phone-number-input__country .rrui__select__autocomplete {
    background: inherit;
  }
}

.msie {
  .rrui__input.rrui__input-element.rrui__input-field.react-phone-number-input__phone, .rrui__input-element.rrui__input-field.rrui__select__autocomplete {
    height: 47px;
    background-color: $body-color-light-gray;
  }
}