.sign-up-form-wrapper .add-personal-buttons-container .next, .sign-up-done-form-wrapper .add-personal-buttons-container .next, .add-personal-form-wrapper .add-personal-buttons-container .next, .sign-up-form-wrapper .submit, .sign-up-done-form-wrapper .submit, .add-personal-form-wrapper .submit {
  padding: 0 10px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s; }

.sign-up-form-wrapper .add-personal-buttons-container .next, .sign-up-done-form-wrapper .add-personal-buttons-container .next, .add-personal-form-wrapper .add-personal-buttons-container .next, .sign-up-form-wrapper .submit, .sign-up-done-form-wrapper .submit, .add-personal-form-wrapper .submit {
  background-color: #005777;
  color: #ffffff;
  margin-left: 20px;
  font-size: 18px; }
  .sign-up-form-wrapper .add-personal-buttons-container .next:hover, .sign-up-done-form-wrapper .add-personal-buttons-container .next:hover, .add-personal-form-wrapper .add-personal-buttons-container .next:hover, .sign-up-form-wrapper .submit:hover, .sign-up-done-form-wrapper .submit:hover, .add-personal-form-wrapper .submit:hover, .sign-up-form-wrapper .add-personal-buttons-container .next:focus, .sign-up-done-form-wrapper .add-personal-buttons-container .next:focus, .add-personal-form-wrapper .add-personal-buttons-container .next:focus, .sign-up-form-wrapper .submit:focus, .sign-up-done-form-wrapper .submit:focus, .add-personal-form-wrapper .submit:focus {
    background-color: #006b91; }
  .sign-up-form-wrapper .add-personal-buttons-container .next:active, .sign-up-done-form-wrapper .add-personal-buttons-container .next:active, .add-personal-form-wrapper .add-personal-buttons-container .next:active, .sign-up-form-wrapper .submit:active, .sign-up-done-form-wrapper .submit:active, .add-personal-form-wrapper .submit:active {
    background-color: #007dab; }

.sign-up-form-wrapper, .sign-up-done-form-wrapper, .add-personal-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 400px;
  width: 100%; }

.sign-up-form-wrapper .form-group .error-message-container, .sign-up-done-form-wrapper .form-group .error-message-container, .add-personal-form-wrapper .form-group .error-message-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0; }

.sign-up-form-wrapper .form-group .error-message-container .error-message, .sign-up-done-form-wrapper .form-group .error-message-container .error-message, .add-personal-form-wrapper .form-group .error-message-container .error-message {
  position: relative;
  color: #d5a2a2;
  font-weight: 500;
  font-family: Quicksand;
  font-size: 12px;
  margin-bottom: -2px; }

.sign-up-add-personal-spinner {
  display: block !important;
  margin: 13px 0 0 -118px;
  opacity: 0;
  position: absolute;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite; }

@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

@keyframes rotate {
  0% {
    transform: translate3d(0, 0, 0) rotate(0); }
  100% {
    transform: translate3d(0, 0, 0) rotate(360deg); } }

.sign-up-form-wrapper .add-personal-buttons-container, .sign-up-done-form-wrapper .add-personal-buttons-container, .add-personal-form-wrapper .add-personal-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 400px;
  width: auto;
  padding-top: 20px; }
  .sign-up-form-wrapper .add-personal-buttons-container .next .fl-buttonTextCenter, .sign-up-done-form-wrapper .add-personal-buttons-container .next .fl-buttonTextCenter, .add-personal-form-wrapper .add-personal-buttons-container .next .fl-buttonTextCenter {
    letter-spacing: 0.3px; }

.sign-up-form-wrapper .invalid .next, .sign-up-form-wrapper .invalid .next:hover, .sign-up-form-wrapper .invalid .next:active, .sign-up-done-form-wrapper .invalid .next, .sign-up-done-form-wrapper .invalid .next:hover, .sign-up-done-form-wrapper .invalid .next:active, .add-personal-form-wrapper .invalid .next, .add-personal-form-wrapper .invalid .next:hover, .add-personal-form-wrapper .invalid .next:active {
  background-color: #7fabbb; }

.sign-up-form-wrapper .sign-up-done-title, .sign-up-form-wrapper .add-personal-title, .sign-up-done-form-wrapper .sign-up-done-title, .sign-up-done-form-wrapper .add-personal-title, .add-personal-form-wrapper .sign-up-done-title, .add-personal-form-wrapper .add-personal-title {
  font-family: Quicksand;
  font-size: 29px;
  letter-spacing: 0.4px;
  text-align: left;
  color: #323232;
  width: auto;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px; }

.sign-up-form-wrapper .sign-up-done-description, .sign-up-form-wrapper .add-personal-description, .sign-up-done-form-wrapper .sign-up-done-description, .sign-up-done-form-wrapper .add-personal-description, .add-personal-form-wrapper .sign-up-done-description, .add-personal-form-wrapper .add-personal-description {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Quicksand;
  font-size: 18px;
  color: #323232;
  letter-spacing: 0.3px;
  font-weight: 500; }

.sign-up-form-wrapper .form-group, .sign-up-done-form-wrapper .form-group, .add-personal-form-wrapper .form-group {
  position: relative;
  height: 55px; }

.sign-up-form-wrapper .submit, .sign-up-done-form-wrapper .submit, .add-personal-form-wrapper .submit {
  margin-left: 0; }

.sign-up-form-wrapper .sign-up-title, .sign-up-done-form-wrapper .sign-up-title, .add-personal-form-wrapper .sign-up-title {
  font-family: Quicksand;
  letter-spacing: 0.4px;
  text-align: left;
  color: #323232;
  width: auto;
  display: flex;
  justify-content: center;
  font-size: calc(1.94444vh + 7px);
  padding-top: calc(4.16667vh + -15px);
  padding-bottom: calc(4.16667vh + -15px); }

.sign-up-form-wrapper .sign-up-check-box-container, .sign-up-done-form-wrapper .sign-up-check-box-container, .add-personal-form-wrapper .sign-up-check-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: calc(4.16667vh + -20px); }
  .sign-up-form-wrapper .sign-up-check-box-container .accept-check-box .radio-button-img, .sign-up-done-form-wrapper .sign-up-check-box-container .accept-check-box .radio-button-img, .add-personal-form-wrapper .sign-up-check-box-container .accept-check-box .radio-button-img {
    width: 16px;
    height: 16px; }
  .sign-up-form-wrapper .sign-up-check-box-container .accept-check-box .radio-button-label, .sign-up-done-form-wrapper .sign-up-check-box-container .accept-check-box .radio-button-label, .add-personal-form-wrapper .sign-up-check-box-container .accept-check-box .radio-button-label {
    font-family: Quicksand;
    font-size: 14px;
    color: #323232; }

.sign-up-form-wrapper .sign-up-link-container, .sign-up-done-form-wrapper .sign-up-link-container, .add-personal-form-wrapper .sign-up-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: calc(4.16667vh + -20px);
  font-family: Quicksand;
  font-size: 14px;
  color: #323232; }
  .sign-up-form-wrapper .sign-up-link-container a, .sign-up-done-form-wrapper .sign-up-link-container a, .add-personal-form-wrapper .sign-up-link-container a {
    padding-left: 10px;
    color: #005777; }

.sign-up-add-personal-drop-down .Select-control {
  background: transparent; }

.sign-up-add-personal-wrapper-spinner {
  position: absolute; }

.sign-up-add-personal-spinner-send-code-safari {
  margin: -40px 0 0 180px !important; }

.sign-up-add-personal-spinner-send-code-msi {
  margin: -44px 0 0 190px !important; }

.sign-up-add-personal-spinner-check-code-msi {
  margin: 10px 0 0 -115px !important; }

.sign-up-add-personal-spinner-default-send-code {
  margin: -40px 0 0 190px; }

.sign-up-add-personal-spinner-default {
  margin: 10px 0 0 295px; }

.react-phone-number-input__row {
  height: 50px; }
  .react-phone-number-input__row .rrui__input-field, .react-phone-number-input__row .rrui__select__button {
    border-bottom: 1px solid #323232; }
  .react-phone-number-input__row .rrui__input:not(.rrui__input--multiline), .react-phone-number-input__row .rrui__input-label {
    height: 40px;
    background: inherit; }
  .react-phone-number-input__row .react-phone-number-input__country .rrui__select__autocomplete {
    background: inherit; }

.msie .rrui__input.rrui__input-element.rrui__input-field.react-phone-number-input__phone, .msie .rrui__input-element.rrui__input-field.rrui__select__autocomplete {
  height: 47px;
  background-color: #f7f7f7; }
