// General colors
$color-success:                   #a2d5c6;
$color-warning:                   #d6d2a3;
$color-error:                     #d5a2a2;
$color-text-secondary:            #323232;
$body-color-light-gray:           #f7f7f7;
$header-shadow:                   #004761;
$template-container-background:   #f4f3f3;
$main-modal-color:                #323232;
$color-input-border:              #005777;
$color-input:                     #323232;
$color-grid-dark:                 #000;
$color-gray:                      #b4b4b4;
$color-toolbar-text-gray:         #3d3d3d;
$color-general-red:               #a90910;
$color-white:                     #ffffff;
$scroll-bar-thumb:                #004761;
$scrollbar-track:                 #f4f3f3;

//SideBarMenu
$color-sidebar-background:        #003244;
$color-sidebar-hover:             #002d3d;


//Button Colors
$color-button-submit:             #005777;
$color-button-error:              $color-error;
$color-button-hover:              #006b91;
$color-button-click:              #007dab;
$color-button-blocked:            #7fabbb;

// Link Colors
$color-link:                      #005777;
$color-link-hover:                #006b91;
$color-link-active:               #007dab;
