@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: url('../src/fonts/QuicksandLight/quicksand-v7-latin-300.eot');
  src: local('Quicksand Light'), local('Quicksand-Light'),
  url('../src/fonts/QuicksandLight/quicksand-v7-latin-300.eot?#iefix') format('embedded-opentype'),
  url('../src/fonts/QuicksandLight/quicksand-v7-latin-300.woff2') format('woff2'),
  url('../src/fonts/QuicksandLight/quicksand-v7-latin-300.woff') format('woff'),
  url('../src/fonts/QuicksandLight/quicksand-v7-latin-300.ttf') format('truetype'),
  url('../src/fonts/QuicksandLight/quicksand-v7-latin-300.svg#Quicksand') format('svg');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('../src/fonts/QuicksandRegular/quicksand-v7-latin-regular.eot');
  src: local('Quicksand Regular'), local('Quicksand-Regular'),
  url('../src/fonts/QuicksandRegular/quicksand-v7-latin-regular.eot?#iefix') format('embedded-opentype'),
  url('../src/fonts/QuicksandRegular/quicksand-v7-latin-regular.woff2') format('woff2'),
  url('../src/fonts/QuicksandRegular/quicksand-v7-latin-regular.woff') format('woff'),
  url('../src/fonts/QuicksandRegular/quicksand-v7-latin-regular.ttf') format('truetype'),
  url('../src/fonts/QuicksandRegular/quicksand-v7-latin-regular.svg#Quicksand') format('svg');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: url('../src/fonts/QuicksandMedium/quicksand-v7-latin-500.eot');
  src: local('Quicksand Medium'), local('Quicksand-Medium'),
  url('../src/fonts/QuicksandMedium/quicksand-v7-latin-500.eot?#iefix') format('embedded-opentype'),
  url('../src/fonts/QuicksandMedium/quicksand-v7-latin-500.woff2') format('woff2'),
  url('../src/fonts/QuicksandMedium/quicksand-v7-latin-500.woff') format('woff'),
  url('../src/fonts/QuicksandMedium/quicksand-v7-latin-500.ttf') format('truetype'),
  url('../src/fonts/QuicksandMedium/quicksand-v7-latin-500.svg#Quicksand') format('svg');
}
