@import "fonts.scss";
@import "colors.scss";

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: $body-color-light-gray;
  overflow-y: auto;
  height: 100%;
  font-family: Quicksand;
}

#root, #root > div {
  height: 100%;
}

.custom-scrollbar-styles::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scrollbar-styles::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
}

.custom-scrollbar-styles::-webkit-scrollbar-thumb {
  background-color: $color-general-red;
}

input[type=text]::-ms-clear {
  display: none;
}

input[type=email]::-ms-clear {
  display: none;
}

input[type=number]::-ms-clear {
  display: none;
}

input,
textarea {
  outline: none;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: $scroll-bar-thumb;
}

body::-webkit-scrollbar-track {
  background-color: $scrollbar-track;
}

body::-webkit-scrollbar-thumb:vertical:active {
  background-color: $scroll-bar-thumb;
}