@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  src: url("../src/fonts/QuicksandLight/quicksand-v7-latin-300.eot");
  src: local("Quicksand Light"), local("Quicksand-Light"), url("../src/fonts/QuicksandLight/quicksand-v7-latin-300.eot?#iefix") format("embedded-opentype"), url("../src/fonts/QuicksandLight/quicksand-v7-latin-300.woff2") format("woff2"), url("../src/fonts/QuicksandLight/quicksand-v7-latin-300.woff") format("woff"), url("../src/fonts/QuicksandLight/quicksand-v7-latin-300.ttf") format("truetype"), url("../src/fonts/QuicksandLight/quicksand-v7-latin-300.svg#Quicksand") format("svg"); }

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url("../src/fonts/QuicksandRegular/quicksand-v7-latin-regular.eot");
  src: local("Quicksand Regular"), local("Quicksand-Regular"), url("../src/fonts/QuicksandRegular/quicksand-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("../src/fonts/QuicksandRegular/quicksand-v7-latin-regular.woff2") format("woff2"), url("../src/fonts/QuicksandRegular/quicksand-v7-latin-regular.woff") format("woff"), url("../src/fonts/QuicksandRegular/quicksand-v7-latin-regular.ttf") format("truetype"), url("../src/fonts/QuicksandRegular/quicksand-v7-latin-regular.svg#Quicksand") format("svg"); }

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: url("../src/fonts/QuicksandMedium/quicksand-v7-latin-500.eot");
  src: local("Quicksand Medium"), local("Quicksand-Medium"), url("../src/fonts/QuicksandMedium/quicksand-v7-latin-500.eot?#iefix") format("embedded-opentype"), url("../src/fonts/QuicksandMedium/quicksand-v7-latin-500.woff2") format("woff2"), url("../src/fonts/QuicksandMedium/quicksand-v7-latin-500.woff") format("woff"), url("../src/fonts/QuicksandMedium/quicksand-v7-latin-500.ttf") format("truetype"), url("../src/fonts/QuicksandMedium/quicksand-v7-latin-500.svg#Quicksand") format("svg"); }

html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  overflow-y: auto;
  height: 100%;
  font-family: Quicksand; }

#root, #root > div {
  height: 100%; }

.custom-scrollbar-styles::-webkit-scrollbar {
  width: 4px;
  height: 4px; }

.custom-scrollbar-styles::-webkit-scrollbar-track {
  -webkit-box-shadow: none; }

.custom-scrollbar-styles::-webkit-scrollbar-thumb {
  background-color: #a90910; }

input[type=text]::-ms-clear {
  display: none; }

input[type=email]::-ms-clear {
  display: none; }

input[type=number]::-ms-clear {
  display: none; }

input,
textarea {
  outline: none; }

body::-webkit-scrollbar {
  width: 12px; }

body::-webkit-scrollbar-thumb {
  background-color: #004761; }

body::-webkit-scrollbar-track {
  background-color: #f4f3f3; }

body::-webkit-scrollbar-thumb:vertical:active {
  background-color: #004761; }
