.fl-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
  width: 100%;
  position: relative; }

.fl-buttonDisabled {
  cursor: not-allowed; }

.fl-buttonDisabledOverlay {
  opacity: 0.3; }

.fl-buttonTextCenter {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  line-height: normal; }
  .fl-buttonTextCenter .button-icon {
    padding-right: 32px; }

.fl-buttonTextCenter.with-icon {
  justify-content: flex-start; }
